* {
    box-sizing: border-box;
}

body,html{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    font-family: 'Poiret One', cursive; 
    font-size: 20px;
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0px; 
    margin: auto;
    color: white;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-image: linear-gradient( rgba(50, 50, 50, 0.7),rgba(50, 50, 50, 0.7) ), url(back.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

.price .grey {
    background-color: white;
    font-size: 25px;
    color:black;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}
body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #f7f7f7;}

.close {
    font-size: 60px;
    display:block;
}
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }

.btn span.glyphicon {               
    opacity: 0;             
}
.btn.active span.glyphicon {                
    opacity: 1;             
}
